#page-informations {
  margin: 3rem;
}

.text-plano-normal p {
  border-left: 8px solid #000;
  padding-left: 12px;
}

.text-plano-plus p {
  border-left: 8px solid #000;
  color: #000;
  padding-left: 12px;
}

.container-table {
  flex-direction: row;
}

.btn-introducao {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  letter-spacing: .1em;
  padding: 8px 12px;
  width: 200px;
  margin: 0 auto;
  display:block;
  margin-top: 25px;

}

.btn-calcule {
  border: 3px solid #227cc2;
  color: #227cc2;
}

.btn-calcule-help:hover {
  border: 3px solid #000;
  color: #000;
}


.section-container {
  margin-top: 4rem;
}

.section-container h2{
  padding:18px 0;
  text-align:center;
  font-weight:bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.section-container h2::after{
  content:"";
  width: 10rem;
  height: 3px;
  background: #000;
  display: block;
  margin: 0.2rem auto 0 auto;
}

.bg-plano-plus {
  background: #227cc2;
  padding-bottom: 12px;
}

.title-plano-plus h2 {
  color: #000;
}

.bg-plano-plus .row h2::after {
  background: #000;
}

.bg-plano-table {
  padding-bottom: 35px;
}

.bg-plano-table .row h2::after {
  background:#227cc2;
}

.bg-plano-table table {
  background: #000;
  color: #227cc2;
}