#page-informations {
  margin: 4rem;
  background-color: var(--color-background);
  border-radius: 0.4rem;
}

.container-table {
  /* flex-direction: row; */
  /* display: flex; */
  justify-content: space-between;
  margin-left: 10rem;
  margin-right: 10rem;
}

.section-container {
  margin-top: 4rem;
  padding: 2rem;
}

.text-description p {
  border-left: 0.3rem solid var(--color-primary-darker);
  padding-left: 0.5rem;
  font: 400 1.1rem Roboto;
}

.section-container h2{
  padding:18px;
  text-align:center;
  font-weight:bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}


.format-table {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
  margin: 3rem;
}

.button a {
  width: 12rem;
  height: 3rem;
  border-radius: 0.3rem;
  margin-right: 1rem;
  text-decoration: none;
  color: var(--color-button-text);
  font-size: 2rem;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button a.calculate:hover {
  background: var(--color-secundary-dark);
}