#page-home {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--color-primary);

}

#page-home-container {
  align-content: space-between;
}

.title-container {
  color: var(--color-title-in-primary);
  font-size: 60px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;

}

.buttons-container a {
  width: 13rem;
  height: 4.4rem;
  border-radius: 0.3rem;
  margin-right: 1rem;
  text-decoration: none;
  color: var(--color-button-text);
  font-size: 2.2rem;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;

}

.calculate {
  background: var(--color-secundary);
}

.information {
  background: var(--color-primary-lighter);
}
