#page-home {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--color-primary);

}

#page-home-container {
  padding-left: 1rem;
  border-left: 1rem solid var(--color-primary-darker);
  align-content: space-between;
}

.title-container {
  color: var(--color-title-in-primary);
  font-size: 70px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.buttons-container a {
  width: 15rem;
  height: 4.4rem;
  border-radius: 0.3rem;
  margin-right: 1rem;
  text-decoration: none;
  color: var(--color-button-text);
  font-size: 2rem;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
}

.calculate {
  background: var(--color-secundary);
}

.buttons-container a.calculate:hover {
  background: var(--color-secundary-dark);
}

.information {
  background: var(--color-primary-lighter);
}

.buttons-container a.information:hover {
  background: var(--color-primary-light);
}
