.page-header {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
}

.page-header .top-bar-container {
  margin: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-title-in-primary);
}

.button-home {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--color-text-title);
}

/* .page-header {
  width: 100%;
  margin: 0 auto;
  position: relative;
} */
